.font {
  font-family: Raleway;
}

.box {
  overflow: hidden;
}

.code {
  opacity: 0;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  transform: translateY(35px);
}

.box:hover .code {
  opacity: 1;
  transform: translateY(0px);
}

.test{
  color: #e7e7e7;
}